cv.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://teijenkins.hcmc.uvic.ca/job/TEIP5/lastSuccessfulBuild/artifact/P5/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0" xmlns:cv="http://github.com/joeytakeda/tei-cv/ns/">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Title</title>
      </titleStmt>
      <publicationStmt>
        <p>Publication Information</p>
      </publicationStmt>
      <sourceDesc>
        <p>Information about the source</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="cv_odd" start="TEI">
        
        <!--This is a fairly maximalist approach to what one could need in a CV. Consider taking quite a bit out.-->
        <moduleRef key="core" include="addrLine address author bibl date desc editor email emph expan foreign head headItem headLabel hi imprint item l label lb list listBibl media meeting monogr name note p ptr publisher q quote ref resp respStmt rs series soCalled street time title"/>
        <moduleRef key="header" include="authority availability calendar catDesc category creation distributor encodingDesc fileDesc funder idno keywords listChange publicationStmt revisionDesc sourceDesc taxonomy teiHeader titleStmt"/>
        <moduleRef key="figures" include="cell figDesc figure formula row table"/>
        <!--Note: things that aren't suppoesd to be included in a CV (gender, age, sex, faith, etc are left out)-->
        <moduleRef key="namesdates" include="addName affiliation bloc climate country death district education event forename genName geo geogName langKnowledge langKnown listEvent listOrg listPerson listPlace listRelation location nameLink nationality occupation org orgName persName person persona place placeName relation roleName settlement surname terrain trait"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure" include="TEI back body byline div front text"/>
        
        <moduleSpec mode="add" ident="cv"/>
        
        <elementSpec mode="add" module="cv" ident="listClass" ns="http://github.com/joeytakeda/tei-cv/ns/">
          <gloss>list of courses</gloss>
          <desc>describes a list of courses.</desc>
          <classes>
            <memberOf key="att.global"/>
            <memberOf key="att.typed"/>
            <memberOf key="model.listLike"/>
          </classes>
          <content>
            <elementRef key="class"/>
          </content>
        </elementSpec>
        
        <elementSpec mode="add" module="cv" ident="class" ns="http://github.com/joeytakeda/tei-cv/ns/">
          <gloss>class</gloss>
          <desc>describes a class or course taken or given.</desc>
          <classes>
            <memberOf key="att.global"/>
            <memberOf key="att.typed"/>
            <memberOf key="att.datable"/>
          </classes>
          <content>
           <macroRef key="macro.limitedContent"/>
          </content>
        </elementSpec>
        
        <elementSpec mode="change" module="namesdates" ident="person">
          <attList>
            <attDef mode="change" ident="role">
              <valList mode="change">
                <valItem ident="supervisor"/>
                <valItem ident="firstReader"/>
                <valItem ident="secondReader"/>
                <valItem ident="thirdReader"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <!--Change the education from macro.phrase to macro.specialPara like occupation, since we want listPerson-->
        <elementSpec mode="change" module="namesdates" ident="education">
          <content>
            <macroRef key="macro.specialPara"/>
          </content>
        </elementSpec>
        
        <elementSpec mode="add" module="cv" ident="listOccupation" ns="http://github.com/joeytakeda/tei-cv/ns/">
          <gloss>list of occupations</gloss>
          <desc>describes a list of occupations historically or currently held by the person in question.</desc>
          <classes>
            <memberOf key="att.global"/>
            <memberOf key="att.typed"/>
            <memberOf key="model.listLike"/>
          </classes>
          <content>
            <classRef key="model.headLike" minOccurs="0" maxOccurs="unbounded"/>
            <elementRef key="note" minOccurs="0" maxOccurs="1"/>
            <elementRef key="occupation" minOccurs="1" maxOccurs="unbounded"/>
          </content>
        </elementSpec>
        
        <elementSpec mode="add" module="cv" ident="listEducation" ns="http://github.com/joeytakeda/tei-cv/ns/">
          <gloss>list of education-like objects</gloss>
          <desc>describes a list of education-like objects in sequence, that is, a list of formally achieved degrees or qualifications.</desc>
          <classes>
            <memberOf key="att.global"/>
            <memberOf key="att.typed"/>
            <memberOf key="model.listLike"/>
          </classes>
          <content>
            <classRef key="model.headLike" minOccurs="0" maxOccurs="unbounded"/>
            <elementRef key="note" minOccurs="0" maxOccurs="1"/>
            <elementRef key="education" minOccurs="1" maxOccurs="unbounded"/>
          </content>
        </elementSpec>
        
        <elementSpec mode="add" module="cv" ident="listAward" ns="http://github.com/joeytakeda/tei-cv/ns/">
          <gloss>list of awards</gloss>
          <desc>lists awards and accolades received by the person in question.</desc>
          <classes>
            <memberOf key="att.global"/>
            <memberOf key="att.typed"/>
            <memberOf key="model.listLike"/>
          </classes>
          <content>
            <classRef key="model.headLike" minOccurs="0" maxOccurs="unbounded"/>
            <elementRef key="note" minOccurs="0" maxOccurs="1"/>
            <elementRef key="award" minOccurs="1" maxOccurs="unbounded"/>
          </content>
        </elementSpec>
        
        <elementSpec mode="add" module="cv" ident="award" ns="http://github.com/joeytakeda/tei-cv/ns/">
          <gloss>award</gloss>
          <desc>describes an award received.</desc>
          <classes>
            <memberOf key="att.global"/>
            <memberOf key="att.typed"/>
            <memberOf key="att.datable"/>
          </classes>
          <attList>
            <attDef ident="value" usage="opt">
              <gloss>awarded value</gloss>
              <desc>the numeric value of the award.</desc>
              <!--TODO: Thing about whether or not the recent work on numeric conversion should
                be considered with this-->
              <datatype>
                <dataRef key="teidata.numeric"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
